{% extends "base.html" %}
{% load staticfiles %}

{% block title %}修改密码{% endblock %}

{% block cur %}修改密码{% endblock %}

{% block content %}
<h1>修改密码</h1>
<form method="post" class="am-form">
  {% csrf_token %}
  <label for="old-password">旧密码:</label>
  <input type="password" name="oldPassword" id="old-password" value="">
  <br>
  <label for="new-password">新密码:</label>
  <input type="password" name="newPassword" id="new-password" value="">
  <br>
    <label for="confirmation">确认新密码:</label>
  <input type="password" name="confirmation" id="confirmation" value="">
  <br>
  <br />
  <div class="am-cf">
    <input type="submit" name="" value="提 交" class="am-btn am-btn-primary am-btn-sm am-fl">
    {% if result %}
      {% if succeeded %}
      <input type="button" name="" value="修改成功" class="am-btn am-btn-success am-btn-sm am-fr" disabled="disabled">
      {% elif reason == 'wp' %}
      <input type="button" name="" value="密码错误" class="am-btn am-btn-danger am-btn-sm am-fr" disabled="disabled">
      {% else %}
      <input type="button" name="" value="新密码两次输入不一致" class="am-btn am-btn-danger am-btn-sm am-fr" disabled="disabled">
      {% endif %}
    {% endif %}
  </div>
</form>
{% endblock %}