{% extends "base.html" %}
{% load staticfiles %}

{% block title %}班主任管理{% endblock %}

{% block cur %}班主任管理{% endblock %}

{% block content %}

  <div class="admin-content">
    <div class="admin-content-body">
      <hr>

      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <button type="button" class="am-btn am-btn-default" data-am-modal="{target: '#new-tutor', closeViaDimmer: 0}"><span class="am-icon-plus"></span> 新增</button>
              {% if post and error %}
                <button type="button" class="am-btn am-btn-danger" disabled="disabled">{{ reason }}</button>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="am-u-sm-12 am-u-md-6">
          <!--<div class="am-input-group am-input-group-sm">-->
            <!--<input type="text" class="am-form-field">-->
            <!--<span class="am-input-group-btn">-->
              <!--<button class="am-btn am-btn-default" type="button">搜索</button>-->
            <!--</span>-->
          <!--</div>-->
        </div>
      </div>

      <div class="am-g">
        <div class="am-u-sm-12">
          <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              <tr>
                <th>用户名</th>
                <th>姓名</th>
                <th>电话</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              {% for i in tutors %}
              <tr>
                <td>{{ i.user.username }}</td>
                <td><a href="/edit-tutor/{{ i.user.username }}/">{{ i.name }}</a></td>
                <td>{{ i.phone }}</td>
                <td>
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="/edit-tutor/{{ i.user.username }}/"><span class="am-icon-pencil-square-o"></span> 编辑</a>
                      <a class="am-btn am-btn-default am-btn-xs am-text-danger" href="/delete-tutor/{{ i.user.username }}/"><span class="am-icon-trash-o"></span> 删除</a>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            <hr />
          </form>
        </div>

      </div>
    </div>

  </div>

  <div class="am-modal am-modal-no-btn" tabindex="-1" id="new-tutor">
    <div class="am-modal-dialog">
      <div class="am-modal-hd">添加 班主任 账号
        <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
      </div>
      <div class="am-modal-bd">
        <form method="post" class="am-form">
          {% csrf_token %}
          <div class="am-input-group am-u-xs-12">
            <span class="am-input-group-label">用户名</span>
            <input type="text" class="am-form-field" name="username" placeholder="Username">
          </div>
          <br/>
          <br/>
          <div class="am-input-group am-u-xs-12">
            <span class="am-input-group-label">密码</span>
            <input type="password" class="am-form-field" name="password" placeholder="Password">
          </div>
          <br/>
          <br/>
          <div class="am-input-group am-u-xs-12">
            <span class="am-input-group-label">确认密码</span>
            <input type="password" class="am-form-field" name="confirmation" placeholder="Password">
          </div>
          <br/>
          <br/>
          <div class="am-input-group am-u-xs-12">
            <span class="am-input-group-label">姓名</span>
            <input type="text" class="am-form-field" name="name" placeholder="Name">
          </div>
          <br/>
          <br/>
          <div class="am-input-group am-u-xs-12">
            <span class="am-input-group-label">电话</span>
            <input type="text" class="am-form-field" name="phone" placeholder="Phone">
          </div>
          <br/>
          <br/>
          <div class="am-cf am-u-xs-12">
            <input type="submit" name="" value="创 建" class="am-btn am-btn-primary am-btn-sm am-fl am-u-xs-12">
          </div>
          <br/>
          <br/>
        </form>
      </div>
    </div>
  </div>
  <!-- content end -->

{% endblock %}